{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'login.css' %}" />


<!-- LOGIN SECTION -->
<main class="login-wrapper">

  <div class="login-card">
    <h2>Inscription</h2>

    <form method="post" >
      {% csrf_token %}
      

      <div class="form-group">
        <label>Nom d'utilisateur</label>
        {{form.username}}
      </div>

      <div class="form-group">
        <label>Mot de passe</label>
        {{form.password1}}
      </div>

      <div class="form-group">
        <label> Confirmation</label>
        {{form.password2}}
      </div>

      <div class="form-options">
        <label class="remember">
          <input type="checkbox">
          Se souvenir de moi
        </label>
        <a href="{% url 'login' %}" class="forgot">→ Connexion</a>
      </div>

 
      <button class="login-btn" type="submit">S'inscrire</button>
      
    </form>
  </div>

</main>

{% endblock content %}