{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'login.css' %}" />


<!-- LOGIN SECTION -->
<main class="login-wrapper">

  <div class="login-card">
    <h2>Connexion</h2>

    <form method="post" >
      {% csrf_token %}

      <div class="form-group">
        <label>Nom d'utilisateur</label>
        {{form.username}}
      </div>

      <div class="form-group">
        <label>Mot de passe</label>
        {{form.password}}
      </div>

      <div class="form-options">
        <label class="remember">
          <input type="checkbox">
          Se souvenir de moi
        </label>

        <a href="#" class="forgot">Mot de passe oublié ?</a>
      </div>

      <p class="register">
        Pas encore de compte ?
        <a href="#">Inscrivez-vous</a>
      </p>

      <button class="login-btn" type="submit">Se connecter</button>
    </form>
  </div>

</main>

{% endblock content %}